<!DOCTYPE html>
<html>
<head>
    <title>Gallery | Team Apollo</title>
    <link rel="stylesheet" href="../css/about.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:300,400,500,600,600i,700,700i&display=swap" rel="stylesheet">
</head>
<body>

    <a class="back-button" href="../"><span class="back-button-text">&lt;&lt; BACK</span></a>
    <h2 class="about-header">WHO WE ARE</h2>
    <p class="about-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia est quo tempore cum dolore temporibus fuga beatae! Deserunt perferendis, ut aspernatur, facilis nam quis quod architecto impedit, iure accusamus officiis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda facilis voluptate magni numquam nostrum nam sunt alias?</p>

    <h2 class="about-header">EXPERT VIDEOGRAPHY &amp; PHOTOGRAPHY</h2>
    <p class="about-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda facilis voluptate magni numquam nostrum nam sunt alias? Perferendis dolores totam rem omnis laborum, itaque excepturi cupiditate, harum facilis, minus quaerat? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda facilis voluptate magni numquam nostrum nam sunt alias?</p>

    <h2 class="about-header">PREVIOUS CLIENTS</h2>
    <ul class="client-list">
        <li class="client-list-item">Andy the Chef</li>
        <li class="client-list-item">ASA</li>
        <li class="client-list-item">Buildkitboards</li>
        <li class="client-list-item">Andy the Chef</li>
        <li class="client-list-item">ASA</li>
        <li class="client-list-item">Buildkitboards</li>
        <li class="client-list-item">Andy the Chef</li>
        <li class="client-list-item">ASA</li>
        <li class="client-list-item">Buildkitboards</li>
        <li class="client-list-item">Andy the Chef</li>
        <li class="client-list-item">ASA</li>
        <li class="client-list-item">Buildkitboards</li>
        <li class="client-list-item">Andy the Chef</li>
        <li class="client-list-item">ASA</li>
        <li class="client-list-item">Buildkitboards</li>
    </ul>

    <h2 class="about-header">GEAR</h2>
    <ul class="gear-list">
        <li class="gear-list-item">Canon Rebel T8i</li>
        <li class="gear-list-item">DJI Maverick Pro</li>
        <li class="gear-list-item">DJI Ronin-S</li>
    </ul>

    <script src="../js/about.js"></script>
</body>
</html>